
[xtrabackup]
user = "{{ mysql_root_username }}"
password = "{{ mysql_root_password }}"
compress_threads = 4 
datadir = "{{ mysql_data_dir }}"
parallel = 4 
extra-lsndir = "{{ mysql_extra_lsn_dir }}"
