[mysqld]
# Galera Provider Configuration
wsrep_on=ON
wsrep_provider=/usr/lib64/galera/libgalera_smm.so

# Galera Cluster Configuration
wsrep_cluster_name="cluster_01"
wsrep_cluster_address="gcomm://{% for host in groups['mysql_cluster'] %}{{ hostvars[host]['inventory_hostname'] }}{% if not loop.last %},{% endif %}{% endfor %}"
# Ip address of ansible host
wsrep_node_address="{{ ansible_default_ipv4.address }}"
wsrep_node_name="{{ ansible_hostname }}"

# Galera Synchronization Configuration
wsrep_sst_method=rsync

# InnoDB Settings
innodb_autoinc_lock_mode=2
innodb_flush_log_at_trx_commit=0

# This is recommended for Galera
wsrep_slave_threads=4
wsrep_log_conflicts=ON
wsrep_certify_nonPK=ON
wsrep_max_ws_rows=131072
wsrep_max_ws_size=1073741824

# SST/IST Settings - these should be secure
wsrep_sst_auth=sstuser:sstpassword

{% if groups['dr_datacenter'] is defined and groups['dr_datacenter'] %}
{% if ansible_host in groups['dr_datacenter'] %}
# DR datacenter nodes are read-only and have lower weight
wsrep_provider_options="pc.weight=0;pc.ignore_sb=true"
read_only=ON
{% endif %}
{% endif %}
